<template class="task-template todo-ng-body">
    <section id="ng-todo-section" class="section js-section u-category-windows">
        <section id="todoapp" ng-controller="MainCtrl">
            <header id="header">
                <h1 ng-bind="title"></h1>
                <input id="new-todo" ng-model="newTodo" ng-keypress="createOnEnter($event)" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox" ng-click="toggleAll($event)">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list" ng-hide="hidden">
                    <li ng-repeat="todo in getTodos() track by $index" ng-class='{completed: todo.completed, editing: todo.edit}'>
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="todo.completed">
                            <label ng-dblclick="edit(todo, $event)" ng-bind="todo.title"></label>
                            <button class="destroy todo-ng-button" ng-click="todoService.delTodo($index)"></button>
                        </div>
                        <input ng-blur="close(todo)" class="edit" ng-model="todo.title">
                    <li>
                </ul>
            </section>
            <footer id="footer">
                <span id="todo-count"><strong ng-bind="remaining"></strong> <span ng-bind-template="{{remaining < 1 ? 'item' : 'items'}} left"></span></span>
                <ul id="filters">
                    <li>
                        <a ng-class="{selected: selected('')}" href="#/" ng-click="filter('')">All</a>
                    </li>
                    <li>
                        <a ng-class="{selected: selected(false)}" href="#/" ng-click="filter(false)">Active</a>
                    </li>
                    <li>
                        <a ng-class="{selected: selected(true)}" href="#/" ng-click="filter(true)">Completed</a>
                    </li>
                </ul>
                <button class="todo-ng-button" ng-show="completed" id="clear-completed" ng-click="todoService.clearCompleted()" ng-bind-template="Clear completed ({{completed}})"></button>
            </footer>
        </section>
    </section>

    <script>
		let main = require('./renderer-process/ng-todo/ng-todo-main');
		main.init();
    </script>
</template>