<template class="task-template todo-body">
    <section id="todo-section" class="section js-section u-category-windows">
        <section id="todoapp">
            <header id="todo-header">
                <h1>todos</h1>
                <input id="new-todo" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="todo-main">
                <input id="todo-toggle-all" type="checkbox">
                <label for="todo-toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="todo-footer"></footer>
        </section>
    </section>
    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
            <label><%- title %></label>
            <button class="destroy todo-button"></button>
        </div>
        <input class="edit" value="<%- title %>">
    </script>
    <script type="text/template" id="todo-stats-template">
        <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
        <ul id="todo-filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <% if (completed) { %>
        <button id="todo-clear-completed" class="todo-button">Clear completed (<%= completed %>)</button>
        <% } %>
    </script>

    <script>
		require('./renderer-process/todo/todo-main')
    </script>
</template>